.container {
  display: grid;
  grid-template-columns:  auto auto auto;
  background-color: red;
  padding: 10px;
}

.container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
#container > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#container {
    display: grid;

    grid-template-columns:  auto;
    background-color: blue;
    padding: 10px;
  }
#container3 > div {
  background-color: #f1f1f1;
  border: 1px solid black;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

#container3 {
    display: grid;

    grid-template-columns:  auto auto;
    background-color: purple;
    padding: 10px;
  }